@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  /* max-width: 800px; */
  margin: auto;
}
:root {
  --primary: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  --primary-color: #681388;
  --dark-gray: gray;
  --off-white: rgb(240, 238, 238);
}

hr {
  margin: 2rem 0rem;
}

h3 {
  font-weight: bolder;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-section-ul .d-flex {
  flex-direction: column;
}
.project-section-ul .padding-md {
  padding: 1rem 2rem;
  margin: 1rem;
  border: 1px solid var(--primary-color);
}

.project-section-ul {
  text-align: center;
}

.padding-md:nth-child(odd) {
  border-bottom-left-radius: 1rem;
}
.padding-md:nth-child(even) {
  border-top-right-radius: 1rem;
}

.container {
  padding: 0.5rem 1rem;
}

.container-center {
  max-width: 800px;
  margin: auto;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.primary-link {
  background: var(--primary);
  color: white;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background: var(--primary);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .link {
  color: white;
  /* text-transform: uppercase; */
}
.navigation .link-active {
  font-weight: bold;
}

.nav-brand {
  font-weight: bold;
  display: inline;
}
.nav-brand span {
  color: yellow;
}

.navigation ul {
  display: inline;
}

.nav-pills {
  text-align: right;
  font-display: uppercase;
}

.hero {
  padding: 2rem;
}

.hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .hero .hero-img {
    grid-column: 2;
  }
  .hero .hero-heading {
    grid-column: 1;
    align-self: center;
  }
  .nav-brand {
    grid-column: 1;
  }
  .navigation ul {
    margin: 0;
    grid-column: 2;
  }
  .navigation .list-non-bullet .list-item-inline {
    display: inline;
  }
  .navigation {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.navigation ul .list-item-inline {
  display: block;
}
.hero .hero-heading {
  padding-top: 1rem;
  color: var(--dark-gray);
  text-align: center;
}

.hero .hero-heading .hero-heading-inverted {
  color: var(--primary-color);
}

.section {
  /* text-align: center; */
  padding: 2.5rem;
}
.section h3 {
  text-align: right;
}

.ow {
  background: var(--off-white);
}

.footer {
  background: var(--primary);
  padding: 1rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
.footer .link {
  color: var(--off-white);
}

.footer ul {
  padding-inline-start: 0;
}
